/** CSS STYLE **/

@font-face {
  font-family: "Open Sans";
  src: url("Fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Neucha";
  src: url("Fonts/Neucha-Regular.ttf");
}

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  --white: #fff;
  --trans-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --trans-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

.h {
  line-height: 1.2em;
  font-family: "Neucha";
  margin: 0cm;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  width: 100%;
  max-width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.img-background {
  position: relative;
  background: var(--white);
  overflow: hidden;
}

.img-background header {
  position: relative;
  z-index: 2;
}

.img-background::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.orange {
  color: var(--basic);
}

.img-1 {
  width: 525px;
  height: auto;
  top: 55px;
  right: 270px;
  margin: 0cm;
}

.possition-relative {
  position: relative;
}

.possition-absolute {
  position: absolute;
}

.columns-2 {
  display: block;
  column-count: 2;
  column-gap: 30px;
  column-width: auto;
}

.columns-2 p {
  margin-top: 0;
}