/** CSS STYLE **/

@font-face{
  font-family: "Open Sans";
  src: url("Fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face{
  font-family: "Neucha";
  src: url("Fonts/Neucha-Regular.ttf");
}

:root{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  --white: #fff;
  --trans-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --trans-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}
.h{
  line-height: 1.2em;
}

h1{
  font-size: 72px;
}

h2{
  font-size: 60px;
}

h3{
  font-size: 34px;
}

.container{
  width: 100%;
  max-width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.img-background{
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}