/** CSS STYLE **/

@font-face {
  font-family: "Open Sans";
  src: url("Fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Neucha";
  src: url("./Fonts/Neucha-Regular.ttf");
}

/** root **/

:root {
  --white: #fff;
  --trans-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --trans-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  background-color: var(--light);
}

body {
  margin: 0;
}
/** containers **/

.container {
  max-width: 1110px;
  top: 100px;
  bottom: 100px;
  margin: 0 auto;
  justify-content: center;
}

.orange {
  color: var(--basic);
}

/** img **/

.img-background::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.img-1 {
  top: -55px;
  right: -270px;
  height: 525px;
  width: auto;
}

/** h **/

.h {
  line-height: 1.2em;
  font-family: "Neucha";
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}
 
/** columns **/

.columns {
  columns: 2;
  gap: 30px;
  top: 539px;
  column-width: auto;
}

.columns p{
  margin: 0;
}

/**possition**/

.possition-relative {
  position: relative;
}

.possition-absolute {
  position: absolute;
}

/** bottom **/

.btn {
  display: block;
  width: 148px;
  height: 49px;
  border: none;

  color: var(--white);
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--basic);
  cursor: pointer;
}